<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 Footer">
            <small><a href="http://jordonbuchanan.com">JMBDesigns</a></small>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> 
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
</body>
</html>
