<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>JFit</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.js' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
                  <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                      <a href="#"><img src="../../images/JFlogo.png"></a>
                    <li class="nav-item">
                      <a class="nav-link" href="/blog">Blog</a>
                    </li>
                  </ul>
                    <% if(currentUser && currentUser.isJordon) { %>
                    <ul class="nav navbar-nav mx-auto">
                      <li class="nav-item">
                         <a class="nav-link" href="/logout">Log Out</a>  
                      </li>
                      <li class="nav-item">
                         <a class="nav-link" href="#"><%= currentUser.name %></a>  
                      </li>
                    </ul>
                      <% } %>
              </nav>