<% include partials/header %>

<div class="container Title">
  <h1>JFit</h1>
  <hr>
  <h2>A Fitness Blog</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 Hero">
      <p>Welcome to my Fitness Blog. In here I will chart my progress in the world of <strong>Health</strong> and <strong>Fitness</strong></p>
    </div>
  </div>
</div>


<% include partials/footer %>
