<% include partials/header %>

<div class="jumbotron Title">
  <h1><em>JFit</em></h1>
  <hr>
  <h2>Welcome to my Fitness Blog</h2>
  <h2>Charting my progress in the world of <strong>Health</strong> and <strong>Fitness</strong></h2>
</div>
        <div class="container overallBox">
            <div class="row">
                <div class="col-sm-12 aboutBox">
                    <h1><em>About</em></h1>
                    <h2>Jordon Buchanan</h2>
                    <div class="aboutImg"></div>
                    <small>
                        The creator of the blog and whose journey into fitness this blog 
                        is about.
                    </small>
                    <br><hr>
                    <p>
                        Jordon is a web developer but also a fitness enthusiaist.
                        He has created this blog to not only record his journey to 
                        a peak physical condition but to show it off as well. It is 
                        his hope that viewers of this blog find inspiration in their 
                        own fitness journey through his.
                    </p>
                    <div class="currentTraining">
                        <h4>Current Training Regiment</h4><hr>
                        <ul>
                            <li>
                                Barbell Squat
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Barbell Deadlift
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Seated Leg Curl
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Seated Cable Row
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Barbell Bench Press
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Barbell Shoulder Press
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Parallel Bar Dip
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Barbell Curl
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Triceps Pushdown
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Side Lateral Raise
                                <small>3 sets of 10</small>
                            </li>
                            <li>
                                Cable Crunches
                                <small>3 sets of 20</small>
                            </li>
                            <li>
                                Oblique Crunches
                                <small>3 sets of 10</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 followBox">
                    <small>Follow Him At:</small><br>
                    <a href="https://www.instagram.com/jordonthedev/"><i class="fab fa-instagram mycon"></i></a>
                    <a href="https://www.github.com/jordonbuchanan/"><i class="fab fa-github-square mycon"></i></a>
                    <a href="https://www.linkedin.com/in/jordon-buchanan-b6b88a150/"><i class="fab fa-linkedin mycon"></i></a><br>
                    <small>Or Shoot Him an Email:</small><br>
                    <a href="mailto:jordonbuchanan@outlook.com?Subject=Inquiry" target="_top"><i class="fas fa-envelope-square mycon"></i></a>
                </div>
            </div>
        </div>


<% include partials/footer %>
